*{
    margin: 0;
    padding: 0;
}

#icons-contato {
    display: flex;
    justify-content: end;
    font-size: 2em;
}

.icon{
    margin-right: 2%;
}

.bg-violet{
    background-color: var(--cor-purple-violet);
}

.card-conteudo{
    align-self: center;
    margin-left: 5%;
}

.card-contato{
    padding: 2%;
}

.container{
    width: 100%;
}



.container-card{
    flex-direction: row;
}

.contato{
    border: 1px solid black;
    box-shadow: 2px 2px blue;
    padding: 5%;
    margin: 0 5% 5% 0;
    display: flex;
}

.contato a {
    text-decoration: none;
    color: rgb(107, 54, 163);
}

.contato a:hover {
    color: #0D6EFD;
}

.imagem-contato{
    width: 35%;
    height: 35%;
    border-radius: 250px;
}

.link-cadastro{
    text-decoration: none;
}

.mentor{
    display: flex;
    justify-content: center;
}

.nav-section{
    display: flex;
    justify-content: end;
    text-align: end;
}

.paragrafo-contato{
    font-size: 0.8em;
}

.plano{
    color: rgb(107, 54, 163);
}

.plano, .plano-titulo{
    text-transform: uppercase;
    font-weight: bolder;
}

.preco{
    display: flex;
    justify-content: center;
    padding: 2%;
}

.preco-titulo{
    align-self: center;
    margin: 0% 2%;
}

.preco-mes{
    padding-left: 1%;
    align-self: end;
}

.titulo-contato{
    text-align: center;
    font-size: 2em;
}

.recupera-senha{
    display: flex;
    justify-content: end;
    font-size: 0.9em;
    text-decoration: none;
}

#textoSobre{
    text-align: justify;
}

#banner{
    width: 2000px;
    height: 400px;

}

@media (max-width: 768px) {

    .card-contato{
        flex-direction: row;
    }

    .container-card{
        display: flex;
        flex-direction: column;
    }

    .container-contato{
        display: flex;
        flex-direction: column;
    }

    .contato{
        flex-direction: column;
    }

    .imagem-contato{
        align-self: center;
        margin-bottom: 5%;
    }  

    .titulo-contato{
        font-size: 1.3em;
    }  

    .principal{
        flex-direction: column;
    }

}

@media (max-width: 320px) {  

    .menu{
        flex-direction: column;
    }

}