*{
    margin: 0;
    padding: 0;
}

.bg-violet{
    background-color: var(--cor-purple-violet);
}

.container{
    width: 100%;
}

.link-cadastro{
    text-decoration: none;
}

.recupera-senha{
    display: flex;
    justify-content: end;
    font-size: 0.8em;
    text-decoration: none;
}

@media (max-width: 768px) {
    .principal{
        flex-direction: column;
    }
}