.txtHover:hover{
   color: aqua;

}

#retornoEmail, #retornoNome, #retornoSenha, #retornoZip, #retornoNumero{
   font-size: small;
   text-align:end ;
   display: flex;
   justify-content: end;
}

.emailValidado, #retornoSucesso{
<<<<<<< HEAD
   color: rgb(0, 0, 0);
=======
   color: rgb(255, 255, 255);
>>>>>>> db5c1048a98572a20f1efad6203ee569cae9631c
  
}

.emailInvalido, .nomeInvalido, .senhaInvalida, .zipInvalido, .numeroInvalido{
<<<<<<< HEAD
   color: rgb(255, 255, 255);
=======
   color: rgb(0, 0, 0);
>>>>>>> db5c1048a98572a20f1efad6203ee569cae9631c
}

.imagemNewsLetter{
   width: auto;
   height: 100px;
}

#btnBuscaCep:hover{
   color: blue;
}
