.txtHover:hover{
   color: aqua;

}

#retornoEmail, #retornoNome, #retornoSenha, #retornoZip, #retornoNumero{
   font-size: small;
   text-align:end ;
   display: flex;
   justify-content: end;
}

.emailValidado, #retornoSucesso{
   color: rgb(255, 255, 255);
  
}

.emailInvalido, .nomeInvalido, .senhaInvalida, .zipInvalido, .numeroInvalido{
   color: rgb(0, 0, 0);
}

.imagemNewsLetter{
   width: auto;
   height: 100px;
}

#btnBuscaCep:hover{
   color: blue;
}
